<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{Style.css}" href="../../static/Style.css">
    <title>create repair List</title>
</head>
<body>
    <div class="content">
        <div class="heading">
            <h1>Register skader og mangel rapport</h1>
        </div>
        <div class="form row m-2">
            <form method="POST" action="/create-repairlist">
                <label for="repairStartDate">Reparationens startdato</label>
                <input type="text" id="repairStartDate" name="repairStartDate">
                <div class="buttonStuff  col-6">
                <button type="submit" class="btn btn-primary">Næste</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>