/*Full page styling*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: linear-gradient(to bottom right, rgb(29, 161, 242), rgb(165, 217, 250));
    display:flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: black;
    text-decoration: none;

}

/*Main content box*/
.heading{
    margin-top: 5%;
    text-align: center;
}

.heading h1{
    font-weight: normal;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin-top: 5%;
    background-color: rgba(255,255,255,85);
    border-radius: 2%;
    padding-bottom: 2.5%;

}

/*Form related styling*/
.form{
    width:70%;
    align-items: center;
    justify-content: center;
}

input{
    width:100%;
    margin-bottom: 4%;
    padding: 5px;
    border-radius: 10px;
}

.buttonStuff{
    margin: 1%;
}

#username{
    padding-bottom: 2%;
}

#password{
    padding-bottom: 2%;
}

#leaseStart{
    padding-bottom: 2%;
}

#leaseEnd{
    padding-bottom: 2%;
}

#leasePrice{
    padding-bottom: 2%;
}

#carNumber{
    padding-bottom: 2%;
}

#fileName{
    padding-bottom: 2%;
}

#damagePeriod{
    padding-bottom: 2%;
}

#leaseId{
    padding-bottom: 2%;
}

#repairID{
    padding-bottom: 2%;
}

#repairListId{
    padding-bottom: 2%;
}

#styleOfFooter{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: -30%;
}

#footerTitle {
    margin: auto;
    text-align: center;
}

input[type=submit]{
    width: 30%;
    float:right;
}

.bilAbonnement{
    padding-bottom: 10%;
}

.userOptions{
    font-size: 25px;
}